<div class="fit-container">
  <div class="fit-column">
    <div class="user-bar">
      <div class="user-details">
        <%= @user.photo.attached? ? cl_image_tag(@user.photo.key, class: "avatar") : image_tag("users/blankuser.png", class:"avatar") %>
        <div class="user-name">
          <h1><%= @user.username %>'s Fits</h1>
        </div>
      </div>
      <div class="user-options">
        <%= link_to "New Fit", new_user_fit_path(@user), class:"btn btn-light m-2" %>
        <%= link_to "Back to Login", users_path, class:"btn btn-light m-2" %>
      </div>
    </div>

    <div class="fit-card-container">
      <% @user.fits.each_with_index do |fit, index| %>
        <div class="fit-card">
          <h4><%= fit.name %></h4>
          <div class="item-card-container">
            <div class="item-card"><p>Top:</p><%= image_tag "tops/#{fit.top.image}.png", class:"item-img" %><p><%= fit.top.name %></p></div>
            <div class="item-card"><p>Pants:</p><%= image_tag "pants/#{fit.pant.image}.png", class:"item-img" %><p><%= fit.pant.name %></p></div>
            <div class="item-card"><p>Shoes:</p><%= image_tag "sneakers/#{fit.sneaker.image}.png", class:"item-img" %><p><%= fit.sneaker.name %></p></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
