<div class="container">
<div class="show-buttons container mt-3">
  <%= link_to "New Fit", new_user_fit_path(@user), class:"btn btn-light m-2" %>
  <%= link_to "Back to Login", users_path, class:"btn btn-light m-2" %>
</div>

<div class="container mt-4 mb-3">
  <% @user.fits.each_with_index do |fit, index| %>
    <div class="show-card">
      <div class="m-1">
        <div class="item-card">
          <%= image_tag "tops/#{fit.top.image}.png", width: 150, height: 200 %>
          <%= image_tag "pants/#{fit.pant.image}.png", width: 150, height: 200 %>
          <%= image_tag "sneakers/#{fit.sneaker.image}.png", width: 150, height: 150 %>
        </div>
      </div>
      <div class="notes container ms-3">
        <div class="me-5">
          <h1><%= fit.name %></h1>
          <p>Top: <%= fit.top.name %></p>
          <p>Pants: <%= fit.pant.name %></p>
          <p>Shoes: <%= fit.sneaker.name %></p>
          <p>Watch: <%= fit.watch.name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
